.demo {
  /* overflow: hidden; */
  height: 100%;
}
/* style rules for the "summary" type */
.demo .wx-gantt .wx-bar.wx-task.summary {
  background-color: transparent;
  color: var(--wx-color-font);
  /* border-radius: 10px; */
  border: 1px solid #00bcd4;
}
/* CSS */
/* .demo .wx-cell.x2-1wbpy33 {
  color: blue;
  font-weight: bold;
  padding-left: 10px;
} */

.demo .wx-gantt .wx-bar.wx-task.summary .wx-progress-percent {
  background-color: #00bcd4;
}
.demo .wx-gantt .wx-bar.wx-task.summary .wx-progress-wrapper {
  border-radius: 0px;
}
/* style rules for the "progress" type */
.demo .wx-gantt .wx-bar.wx-task.progress {
  background-color: transparent;
  color: var(--wx-color-font);
  /* border-radius: 10px; */
  border: 1px solid #00bcd4;
}
.demo .wx-gantt .wx-bar.wx-task.progress .wx-progress-percent {
  background-color: #00bcd4;
}
.demo .wx-gantt .wx-bar.wx-task.progress .wx-progress-wrapper {
  border-radius: 0px;
}

.demo .wx-gantt .wx-bar.wx-task.category {
  background-color: transparent;
  color: var(--wx-color-font);
  /* border-radius: 10px; */
  border: 1px solid #00bcd4;
}
.demo .wx-gantt .wx-bar.wx-task.category .wx-progress-percent {
  background-color: #00bcd4;
}
.demo .wx-gantt .wx-bar.wx-task.department {
  background-color: transparent;
  color: var(--wx-color-font);
  /* border-radius: 10px; */
  border: 1px solid #00bcd4;
}
.demo .wx-gantt .wx-bar.wx-task.department .wx-progress-percent {
  background-color: #00bcd4;
}
.wx-baseline.x2-1qryx5p.x2-1qryx5p {
  position: absolute;
  background-color: #526df2;
  border-radius: var(--wx-gantt-baseline-border-radius);
  z-index: 1;
}

/* style rules for the "urgent" type */
.demo .wx-gantt .wx-bar.wx-task.urgent {
  background-color: transparent;
  color: var(--wx-color-font);
  /* border-radius: 10px; */
  border: 1px solid #00bcd4;
}
.demo .wx-gantt .wx-bar.wx-task.urgent .wx-progress-percent {
  background-color: #00bcd4;
}
.wx-summary.x2-1qryx5p.x2-1qryx5p {
  color: var(--wx-gantt-summary-font-color);
  background-color: transparent;
  border: var(--wx-gantt-summary-border);
}
.demo .wx-willow-theme {
  --wx-gantt-border: 1px solid #1d1e261a;
  --wx-gantt-form-header-border: none;
  --wx-gantt-icon-color: #9fa1ae;
  --wx-gantt-bar-font: var(--wx-font-weight) var(--wx-font-size)
    var(--wx-font-family);
  --wx-gantt-bar-border-radius: 3px;
  --wx-gantt-milestone-border-radius: 3px;
  --wx-gantt-task-color: #00bcd4;
  --wx-gantt-task-font-color: black;
  --wx-gantt-task-fill-color: #00bcd4;
  --wx-gantt-task-border-color: #00bcd4;
  --wx-gantt-task-background-color: transparent;
  --wx-gantt-task-progress-percent: #00bcd4;
  --wx-gantt-task-border: 1px solid #00bcd4;

  --wx-gantt-summary-font-color: black;
  --wx-gantt-summary-fill-color: #00bcd4;
  --wx-gantt-summary-border-color: #00bcd4;
  --wx-gantt-summary-background-color: transparent;
  --wx-gantt-summary-border: 1px solid #00bcd4;
  --wx-gantt-milestone-color: #ad44ab;
  --wx-gantt-select-color: #eaedf5;
  --wx-gantt-link-color: #9fa1ae;
  --wx-gantt-link-marker-background: #eaedf5;
  --wx-gantt-link-marker-color: #9fa1ae;
  --wx-gantt-bar-shadow: 0px 1px 2px rgba(44, 47, 60, 0.06),
    0px 3px 10px rgba(44, 47, 60, 0.12);
  --wx-gantt-progress-marker-height: 26px;
  --wx-gantt-progress-border-color: #c0c3ce;
  --wx-gantt-baseline-border-radius: 2px;
  --wx-grid-header-font: var(--wx-font-weight-md) var(--wx-font-size)
    var(--wx-font-family);
  --wx-grid-header-font-color: var(--wx-color-font);
  --wx-grid-header-text-transform: capitalize;
  --wx-grid-header-shadow: none;
  --wx-grid-body-font: var(--wx-font-weight) var(--wx-font-size)
    var(--wx-font-family);
  --wx-grid-body-font-color: var(--wx-color-font);
  --wx-grid-body-row-border: var(--wx-gantt-border);
  --wx-grid-body-cell-border: 1px solid transparent;
  --wx-timescale-font: var(--wx-font-weight-md) var(--wx-font-size-sm)
    var(--wx-font-family);
  --wx-timescale-font-color: var(--wx-color-font);
  --wx-timescale-text-transform: uppercase;
  --wx-timescale-shadow: none;
  --wx-timescale-border: var(--wx-gantt-border);
  --wx-gantt-holiday-background: #f0f6fa;
  --wx-gantt-holiday-color: #9fa1ae;
  --wx-gantt-marker-font: var(--wx-font-weight-md) var(--wx-font-size-sm)
    var(--wx-font-family);
  --wx-gantt-marker-font-color: #fff;
  --wx-gantt-marker-color: rgba(6, 189, 248, 0.77);
  --wx-tooltip-font: var(--wx-font-weight) var(--wx-font-size)
    var(--wx-font-family);
  --wx-tooltip-font-color: #e6e6e6;
  --wx-tooltip-background: #4f525a;
  --wx-sidebar-close-icon: #c0c3ce;
}
.wx-willow-theme {
  --wx-table-select-background: #eaedf5;
  --wx-table-select-focus-background: #ebedf3;
  --wx-table-select-color: var(--wx-color-font);
  --wx-table-border: 1px solid #e6e6e6;
  --wx-table-select-border: inset 3px 0 var(--wx-color-primary);
  --wx-table-header-border: var(--wx-table-border);
  --wx-table-header-cell-border: var(--wx-table-border);
  --wx-table-footer-cell-border: var(--wx-table-border);
  --wx-table-cell-border: var(--wx-table-border);
  --wx-header-font-weight: 600;
  --wx-table-header-background: #f2f3f7;
  --wx-table-fixed-column-right-border: 3px solid #e6e6e6;
  --wx-table-editor-dropdown-border: var(--wx-table-border);
  --wx-table-editor-dropdown-shadow: 0px 4px 20px 0px rgba(44, 47, 60, 0.12);
}
.demo-rows {
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--wx-background);
  width: 100%;
  height: 100%;
  overflow: hidden;
}
